body{

font-family:Arial;
background:#0f172a;
color:white;
margin:0;

}

header{

background:#020617;
padding:20px;
text-align:center;

}

.tabs{

display:flex;
overflow:auto;
gap:10px;
padding:10px;

}

.tabs button{

background:#1e293b;
color:white;
border:none;
padding:10px;
border-radius:8px;

}

.tab{

display:none;
padding:20px;

}

.upload{

margin-top:20px;

}

.upload img{

width:120px;
margin:10px;
border-radius:8px;

}

.pdfBtn{

margin:10px;
padding:10px;

}

footer{

text-align:center;
padding:20px;
background:#020617;

}
